@import 'partials/setup';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/global';
@import 'partials/navigation';


// HEADER ****

header {
	height: 100vh;
	.title {
		margin: 0 auto;
		p {
			margin: 0 auto;
			text-align: center;
		}
	}
	.heroContainer {
		height: 65vh;
		justify-content: center;
		align-items: center;
		background: linear-gradient(to bottom right, #FFEFE8 50%, #E2EEFF 50%);
		margin-top: 10.1rem;
		.heroText {
			// font-family: "Conqueror";
			font-family: "Gilda Display", serif;
			font-weight: 300;
			font-size: 3rem;
			// font-style: italic;
			padding: 12rem;
		}
	}
	.leftPanel p, .rightPanel p {
		padding: 0 1rem;
		position: fixed;
		top: 48vh;
		text-align: center;
		z-index: 10;
		@include navText (1.2rem, 800);
		}
	.leftPanel p {
		transform: rotate(-90deg);
		left: -1%;
	}
	.rightPanel p {
		transform: rotate(90deg);
		right: -1%;
	}
}




// ABOUT ****

#about {
	margin-bottom: 5.5rem;
	.bioContainer {
		justify-content: space-between;
		.bioText, .bioPhoto {
			width: calc(50% - 5rem);
		}
		.bioPhoto img {
			width: 100%;
		}
		.bioText {
			margin-right: 5rem;
			@include bodyText;
			span {
				font-size: 2rem;
			}
		}
	}
}


// WORK ****

#work {
	.galleryContainer {
		position: relative;
		height: 65vh;
		.galleryItem {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			flex-direction: column;
			justify-content: space-between;
		}
		.portfolioText {
			align-self: left;
			h3 {
				font-family: "Gilda Display", serif;
				font-size: 2.1rem;
				letter-spacing: 0.2rem;
				padding: 1rem 2rem;
				margin: 1rem 0 0 0;
			}
			.portfolioTools {
				margin: 0;
				padding: 1rem 2rem;
				font-family: $bodyFont;
			}
		}
		.galleryImage_container {
			max-width: 35%;
			align-self: center;
			// position: absolute;
			// top: 15%;
			img {
				max-width: 100%;
			}
		}
		.portfolioLinks {
			align-self: left;
			a {
				text-decoration: none;
				@include buttonStyle ($mainTextColour, 3px solid $mainTextColour);
				padding: 1.5rem;
				transition: all 0.3s ease;
				background: white;
				&:hover {
					background: #E6E9Ef;
					color: white;
					border: 3px solid white;
					text-shadow: 1px 2px 0 $mainTextColour;
				}

			}
		}
		.memoryFlip {
			background: #E6E9Ef;
		}
	}
	.galleryScroll {
		justify-content: space-between;
			.leftScroller, .rightScroller {
				padding: 2rem;
				font-size: 1.8rem;
			}
	}
}


.difinity, .councilMeet, .podChill {
	visibility: hidden;
}


// @font-face {
//     font-family: GraublauWeb;
//     font-weight: bold;
//     src: url("path/GraublauWebBold.otf") format("opentype");
// }