@import 'partials/setup';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/global';
@import 'partials/header';
@import 'partials/navigation';
@import 'partials/work';




// ABOUT ****
#about {
	margin-top: 10rem;
	.bioContainer {
		justify-content: space-between;
		.bioText, .bioPhoto {
			width: calc(50% - 5rem);
		}
		.bioPhoto img {
			width: 100%;
		}
		.bioText {
			margin-right: 5rem;
			@include bodyText;
			span {
				font-size: 2rem;
			}
		}
	}
}

// CONTACT ****

#contact {
	margin-top: 10rem;
	.footerColumn {
		width: 50%;
		float: left;
		padding: 10rem;
		.socialContainer {
			a {
				padding: 1rem;
				transition: all 0.3s ease;
				&:hover .fa {
					color: red;
				}
			}
			.fa {
				font-size: 2.4rem;
				color: $mainTextColour;
			}

		}
	}
	.formContainer {
		background: #E2EEFF;
	}

form {
	flex-direction: column;
	justify-content: space-around;
	width: 80%;
	input:not(.submit), textarea {
		width: 100%;
		background: #E2EEFF;
		border: none;
		border-bottom: 3px solid $mainTextColour;
		margin: 1rem 0;
		padding: 1rem 0;
		&::placeholder {
			font-family: $bodyFont;
			font-size: 1.4rem;
			color: $mainTextColour;
			}
		}
		textarea {
			resize: none;
		}

	}

	.visuallyHidden {
		position: absolute;
		clip: rect(1px 1px 1px 1px); 
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(50%);
		padding: 0;
		border: 0;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}
}

//FOOTER ****

footer {
	text-align: center;
	@include navText (1.9rem, 500);
	height: 5rem;
}

