
// CONTACT ****

#contact {
	margin-top: 10rem;
	.contactColumn {
		width: 50%;
		float: left;
		padding: 8rem;
		.socialContainer {
			a {
				padding: 1rem;
				transition: all 0.3s ease;
				&:hover .fa {
					color: #E2EEFF;
				}
			}
			.fa {
				font-size: 3rem;
				color: $mainTextColour;
			}
		}
	}
	.contactColumnLeft {
		p:not(.contactCallout), a {
			@include bodyText
			font-size: 1.6rem;
		}
		.contactCallout {
			@include headingText (1.8rem);
			margin-bottom: 3rem;
		}
		.contactEmail .fa {
			padding-right: 0.5rem;
		}
		.contactEmail a {
			transition: all 0.3s ease;
			letter-spacing: 0.1rem;
			transition: all 0.3s ease;
			&:hover {
				color: #E2EEFF;
			}
		}
	}
	.formContainer {
		background: #E2EEFF;
		p {
			@include headingText (1.8rem);
			margin-bottom: 4rem;
		}
	}

form {
	flex-direction: column;
	justify-content: space-around;
	width: 90%;
	input:not(.submit), textarea {
		width: 100%;
		background: #E2EEFF;
		border: none;
		border-bottom: 3px solid $mainTextColour;
		margin: 1rem 0;
		padding: 1.2rem 0;
		font-family: $bodyFont;
		font-size: 1.4rem;
		&::placeholder {
			font-family: $bodyFont;
			font-size: 1.4rem;
			color: $mainTextColour;
			line-height: 1rem;
			padding: 0.3rem;
			}
		&:focus {
			outline: none;
			border: 3px solid $mainTextColour;
		}
	}
		textarea {
			resize: none;
		}
		.submit {
			width: 50%;
			@include buttonStyle ($mainTextColour, 3px solid $mainTextColour);
			padding: 1.5rem;
			background: #E2EEFF;
			margin-top: 3rem;
			transition: all 0.3s ease;
			&:hover {
				background: white;
			}
		}
	}
	.visuallyHidden {
		position: absolute;
		clip: rect(1px 1px 1px 1px); 
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(50%);
		padding: 0;
		border: 0;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}
}


// MEDIA QUERIES ****

@media (max-width: 940px) {
	#contact {
		.contactColumn {
			// background: #E2EEFF;
			padding: 6rem;
			
		}
	}
}

@media (max-width: 768px) {
	#contact {
		.contactColumn {
			float: none;
			width: 80%;
			margin: 0 auto;
		}
	}	
}


@media (max-width: 480px) {
	#contact {
		.contactColumn {
			width: 90%;
			padding: 4rem;
			}
		}
		.contactColumnLeft {
			.contactCallout {
				@include headingText (1.6rem);
			}
			.contactEmail .fa {
				padding-right: 0.5rem;
			}
			.contactEmail a {
				transition: all 0.3s ease;
				letter-spacing: 0.1rem;
				transition: all 0.3s ease;
				&:hover {
					color: #E2EEFF;
				}
			}
		}
		.formContainer {
			background: #E2EEFF;
			p {
				@include headingText (1.6rem);
			}
		}

	form {
		input:not(.submit), textarea {
			&::placeholder {
				font-size: 1.6rem;
				// line-height: 1rem;
				// padding: 0.3rem;
				}
			&:focus {
				// outline: none;
				// border: 3px solid $mainTextColour;
			}
		}
			.submit {
				width: 60%;
				// @include buttonStyle ($mainTextColour, 3px solid $mainTextColour);
				// padding: 1.5rem;
				// background: #E2EEFF;
				// margin-top: 3rem;
				// transition: all 0.3s ease;
				// &:hover {
				// 	background: white;
				// }
			}
		}
}
