// NAV ****

nav {
	width: 90%;
	visibility: hidden;
	display: none;
	background: white;
	position: fixed;
	left: 5%;
	top: 0;
	z-index: 10;
	margin: 0 auto;
	height: 10.1rem;
	align-items: center;
	justify-content: center;
	ul {
		flex: 1;
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			flex: 1;
			text-align: center;
			a {
				@include navText (1.2rem, 500);
				&:hover {
					background: linear-gradient($mainTextColour 0%, $mainTextColour 100%);
					background-size: 2px 2px;
					background-repeat: repeat-x;
					background-position: center center;
				}
			}
		}
	}
	.logo {
		flex: 1;
		text-align: center;
	}
}